.nav-item {
    margin-top: 2.5rem;
}

.nav-link {
    color: black;
}

.about-photo {
    float: left;
}

#about-photo {
    width: 15rem;
}

.carousel {
    margin-bottom: 2rem;
}

#portfolio-image {
    width: 30rem;
    margin-bottom: 1rem;
    
}